@page
@{
    ViewData["Title"] = "Papers";
}

<h1>@ViewData["Title"]</h1>

<ol>
    <li>
        
        <a href="https://www.amazon.science/publications/amazon-aurora-design-considerations-for-high-throughput-cloud-native-relational-databases">
            Design Considerations for High Throughput Cloud Native Databases
        </a>
    </li>
</ol>
