@page
@{
    ViewData["Title"] = "People";
}
<h1>@ViewData["Title"]</h1>

<h2>Founding members</h2>
<ul>
    <li>Aleksandr Feinberg</li>
    <li>Vandhana Selvaprakash</li>
    <li>Sailesh Krishnamurthy</li>
    <li>Bohan Liu</li>
    <li>Jeff Davis</li>
</ul>

